{% extends 'main/base.html' %}
{% load static%}

{% block base_header %}
<title>SignUp Page</title>
{% endblock %}

{% block content %}

{% include 'main/navbar.html'%}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-3">Please select a role to Register!</h1>
            <div>
                <a href="{% url 'customer_signup' %}" class="btn btn-warning">I'm a Customer</a>
                <a href="{% url 'supplier_signup' %}" class="btn btn-info">I'm a Supplier</a>
            </div>

        </div>
    </div>
</div>



{% endblock %}