{% extends 'main/base.html' %}

<!-- Header section of the page (title and custom css) -->
{% block base_header %}

<title>Items</title>

{% endblock %}

<!-- Main section of the page -->
{% block content%}

{% include 'main/navbar.html' %}

<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-md-3">
            <div class="card my-2">
                <a href='{{ item.get_absolute_url }}'><img src="{{ item.image.url }}" class="card-img-top" alt=""
                        height="250px"></a>
                <div class="card-header bg-secondary">
                    <h5 class="text-center text-white">{{ item.name }}</h5>
                    <a href='{{ item.get_absolute_url }}' class="btn btn-primary btn-block">Description</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}