{% extends 'main/base.html' %}

<!-- Header section of the page (title and custom css) -->
{% block base_header %}

<title>Items</title>

{% endblock %}

<!-- Main section of the page -->
{% block content%}

{% include 'main/navbar.html' %}

<div class="container">
    <h1 class="text-center mt-2 text-info">All Categories</h1>
    <hr>
    <div class="row">

        {% for cat in object_list %}
        <div class="col-md-3">
            <div class="card my-2">
                <a href='{{ cat.get_absolute_url }}'><img src="{{ cat.image.url }}" class="card-img-top" alt=""
                        height="300px"></a>
                <div class="card-header bg-secondary">
                    <h5 class="text-center text-white">{{ cat.name }}</h5>
                </div>
                <div class="card-body">
                    <h6>{{ cat.description }}</h6>
                </div>
                <div class="card-footer">
                    <a href='{{ cat.get_absolute_url }}' class="btn btn-primary btn-block">Let's Go</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}